@import "tailwindcss";

/* Scrollbar personalizada para toda a aplicação */
@layer base {
  /* Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #18181B #09090B;
  }

  /* Chrome, Edge, Safari */
  *::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background: #1a202c;
    border-radius: 4px;
  }

  *::-webkit-scrollbar-thumb {
    background: #4a5568;
    border-radius: 4px;
    transition: background-color 0.2s;
  }

  *::-webkit-scrollbar-thumb:hover {
    background: #718096;
  }

  *::-webkit-scrollbar-corner {
    background: transparent;
  }
  
  :focus {
    outline: none !important;
  }
  
  :focus-visible {
    outline: 2px solid #22c55e !important; /* verde do seu tema */
    outline-offset: 2px;
  }
}